{
  "openapi": "3.0.0",
  "info": {
    "version": "v1",
    "title": "service_mgmt",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "contact": {
      "name": "OCM Feedback",
      "email": "ocm-feedback@redhat.com"
    }
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://api.openshift.com"
    },
    {
      "description": "Stage",
      "url": "https://api.stage.openshift.com"
    }
  ],
  "paths": {
    "/api/service_mgmt/v1": {
      "get": {
        "description": "Retrieves the version metadata.",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/service_mgmt/v1/services": {
      "post": {
        "description": "Creates a new Managed Service",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManagedService"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagedService"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Lists the Managed Services the user has running",
        "parameters": [
          {
            "name": "page",
            "description": "Index of the requested page, where one corresponds to the first page.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "description": "Maximum number of items that will be contained in the returned page.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "description": "Retrieved list of clusters.",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ManagedService"
                      }
                    },
                    "page": {
                      "description": "Index of the requested page, where one corresponds to the first page.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "size": {
                      "description": "Maximum number of items that will be contained in the returned page.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "total": {
                      "description": "Total number of items of the collection that match the search criteria,\nregardless of the size of the page.",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/service_mgmt/v1/services/{service_id}": {
      "delete": {
        "description": "Deletes the Managed Service",
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success."
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Gets information on the Managed Service",
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagedService"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManagedService"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagedService"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Metadata": {
        "description": "Version metadata.",
        "properties": {
          "server_version": {
            "description": "Version of the server.",
            "type": "string"
          }
        }
      },
      "AWS": {
        "description": "_Amazon Web Services_ specific settings of a cluster.",
        "properties": {
          "sts": {
            "description": "Contains the necessary attributes to support role-based authentication on AWS.",
            "$ref": "#/components/schemas/STS"
          },
          "access_key_id": {
            "description": "AWS access key identifier.",
            "type": "string"
          },
          "account_id": {
            "description": "AWS account identifier.",
            "type": "string"
          },
          "secret_access_key": {
            "description": "AWS secret access key.",
            "type": "string"
          },
          "subnet_ids": {
            "description": "The subnet ids to be used when installing the cluster.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "description": "Optional keys and values that the installer will add as tags to all AWS resources it creates",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "STS": {
        "description": "Contains the necessary attributes to support role-based authentication on AWS.",
        "properties": {
          "oidc_endpoint_url": {
            "description": "URL of the location where OIDC configuration and keys are available",
            "type": "string"
          },
          "instance_iam_roles": {
            "description": "Instance IAM roles to use for the instance profiles of the master and worker instances",
            "$ref": "#/components/schemas/InstanceIAMRoles"
          },
          "operator_iam_roles": {
            "description": "List of roles necessary to access the AWS resources of the various operators used during installation",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperatorIAMRole"
            }
          },
          "operator_role_prefix": {
            "type": "string"
          },
          "role_arn": {
            "description": "ARN of the AWS role to assume when installing the cluster",
            "type": "string"
          },
          "support_role_arn": {
            "description": "ARN of the AWS role used by SREs to access the cluster AWS account in order to provide support",
            "type": "string"
          }
        }
      },
      "CloudRegion": {
        "description": "Description of a region of a cloud provider.",
        "properties": {
          "id": {
            "description": "Human-friendly identifier of the region, for example `us-east-1`.",
            "type": "string"
          }
        }
      },
      "Cluster": {
        "description": "This represents the parameters needed by Managed Service to create a cluster.",
        "properties": {
          "aws": {
            "$ref": "#/components/schemas/AWS"
          },
          "display_name": {
            "description": "DisplayName is the name of the cluster for display purposes.\nIt can contain spaces.",
            "type": "string"
          },
          "href": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "region": {
            "$ref": "#/components/schemas/CloudRegion"
          },
          "state": {
            "type": "string"
          }
        }
      },
      "InstanceIAMRoles": {
        "description": "Contains the necessary attributes to support role-based authentication on AWS.",
        "properties": {
          "master_role_arn": {
            "description": "The IAM role ARN that will be attached to master instances",
            "type": "string"
          },
          "worker_role_arn": {
            "description": "The IAM role ARN that will be attached to worker instances",
            "type": "string"
          }
        }
      },
      "ManagedService": {
        "description": "Represents data about a running Managed Service.",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'ManagedService' if this is a complete object or 'ManagedServiceLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "addon": {
            "$ref": "#/components/schemas/StatefulObject"
          },
          "cluster": {
            "$ref": "#/components/schemas/Cluster"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServiceParameter"
            }
          },
          "resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatefulObject"
            }
          },
          "service": {
            "type": "string"
          },
          "service_state": {
            "type": "string"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OperatorIAMRole": {
        "description": "Contains the necessary attributes to allow each operator to access the necessary AWS resources",
        "properties": {
          "name": {
            "description": "Name of the operator",
            "type": "string"
          },
          "namespace": {
            "description": "Namespace where the operator lives in the cluster",
            "type": "string"
          },
          "role_arn": {
            "description": "Role to assume when accessing AWS resources",
            "type": "string"
          }
        }
      },
      "ServiceParameter": {
        "properties": {
          "id": {
            "description": "Name of the parameter",
            "type": "string"
          },
          "value": {
            "description": "Value of the parameter",
            "type": "string"
          }
        }
      },
      "StatefulObject": {
        "properties": {
          "id": {
            "type": "string"
          },
          "href": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "state": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will always be 'Error'",
            "type": "string"
          },
          "id": {
            "description": "Numeric identifier of the error.",
            "type": "integer",
            "format": "int32"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "code": {
            "description": "Globally unique code of the error, composed of the unique identifier of the API and the numeric identifier of the error. For example, for if the numeric identifier of the error is `93` and the identifier of the API is `clusters_mgmt` then the code will be `CLUSTERS-MGMT-93`.",
            "type": "string"
          },
          "reason": {
            "description": "Human readable description of the error.",
            "type": "string"
          },
          "details": {
            "description": "Extra information about the error.",
            "type": "object",
            "additionalProperties": "true"
          }
        }
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearer": [
        
      ]
    }
  ]
}