{
  "openapi": "3.0.0",
  "info": {
    "version": "v1",
    "title": "authorizations",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "contact": {
      "name": "OCM Feedback",
      "email": "ocm-feedback@redhat.com"
    }
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://api.openshift.com"
    },
    {
      "description": "Stage",
      "url": "https://api.stage.openshift.com"
    }
  ],
  "paths": {
    "/api/authorizations/v1": {
      "get": {
        "description": "Retrieves the version metadata.",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/authorizations/v1/access_review": {
      "post": {
        "description": "Reviews a user's access to a resource",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessReviewResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/authorizations/v1/capability_review": {
      "post": {
        "description": "Reviews a user's capability to a resource.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapabilityReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilityReviewResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/authorizations/v1/export_control_review": {
      "post": {
        "description": "Screens a user by account user name.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExportControlReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExportControlReviewResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/authorizations/v1/feature_review": {
      "post": {
        "description": "Reviews a user's ability to toggle a feature",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeatureReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureReviewResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/authorizations/v1/resource_review": {
      "post": {
        "description": "Returns the list of identifiers of the resources that an account can\nperform the specified action upon.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceReview"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/authorizations/v1/self_access_review": {
      "post": {
        "description": "Reviews a user's access to a resource",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelfAccessReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfAccessReviewResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/authorizations/v1/self_capability_review": {
      "post": {
        "description": "Reviews a user's capability to a resource.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelfCapabilityReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfCapabilityReviewResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/authorizations/v1/self_feature_review": {
      "post": {
        "description": "Reviews ability to toggle a feature",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelfFeatureReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfFeatureReviewResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/authorizations/v1/self_terms_review": {
      "post": {
        "description": "Reviews a user's status of Terms.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelfTermsReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TermsReviewResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/authorizations/v1/terms_review": {
      "post": {
        "description": "Reviews a user's status of Terms.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TermsReviewRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TermsReviewResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Metadata": {
        "description": "Version metadata.",
        "properties": {
          "server_version": {
            "description": "Version of the server.",
            "type": "string"
          }
        }
      },
      "AccessReviewRequest": {
        "description": "Representation of an access review",
        "properties": {
          "account_username": {
            "description": "Defines the username of the account of which access is being reviewed",
            "type": "string"
          },
          "action": {
            "description": "Indicates the action, one of: [get,list,create,delete,update]",
            "type": "string"
          },
          "cluster_id": {
            "description": "Indicates which Cluster (internal id) the resource type belongs to",
            "type": "string"
          },
          "cluster_uuid": {
            "description": "Indicates which Cluster (external id) the resource type belongs to",
            "type": "string"
          },
          "organization_id": {
            "description": "Indicates which Organization the resource type belongs to",
            "type": "string"
          },
          "resource_type": {
            "description": "Indicates the type of the resource an action would be taken on.\nSee uhc-account-manager/openapi/openapi.yaml for a list of possible values",
            "type": "string"
          },
          "subscription_id": {
            "description": "Indicates which Subscription the resource type belongs to",
            "type": "string"
          }
        }
      },
      "AccessReviewResponse": {
        "description": "Representation of an access review response",
        "properties": {
          "account_username": {
            "description": "Defines the username of the account of which access is being reviewed.",
            "type": "string"
          },
          "action": {
            "description": "Indicates the action, one of: [get,list,create,delete,update].",
            "type": "string"
          },
          "allowed": {
            "description": "Defines whether the action on the specified resource type is allowed.",
            "type": "boolean"
          },
          "cluster_id": {
            "description": "Indicates which Cluster (internal id) the resource type belongs to.",
            "type": "string"
          },
          "cluster_uuid": {
            "description": "Indicates which Cluster (external id) the resource type belongs to.",
            "type": "string"
          },
          "is_ocm_internal": {
            "description": "Defines whether an account is ocm internal.",
            "type": "boolean"
          },
          "organization_id": {
            "description": "Indicates which Organization the resource type belongs to.",
            "type": "string"
          },
          "reason": {
            "description": "Defines further context for the value in allowed (if applicable).",
            "type": "string"
          },
          "resource_type": {
            "description": "Indicates the type of the resource an action would be taken on.\nSee uhc-account-manager/openapi/openapi.yaml for a list of possible values.",
            "type": "string"
          },
          "subscription_id": {
            "description": "Indicates which Subscription the resource type belongs to.",
            "type": "string"
          }
        }
      },
      "CapabilityReviewRequest": {
        "description": "Representation of a capability review.",
        "properties": {
          "account_username": {
            "description": "Defines the username of the account of which capability is being reviewed.",
            "type": "string"
          },
          "capability": {
            "description": "Capability to review [manage_cluster_admin].",
            "type": "string"
          },
          "cluster_id": {
            "description": "Indicates which Cluster (internal id) the resource type belongs to.",
            "type": "string"
          },
          "organization_id": {
            "description": "Indicates which Organization the resource type belongs to.",
            "type": "string"
          },
          "resource_type": {
            "description": "Indicates the type of the resource.\nSee uhc-account-manager/openapi/openapi.yaml for a list of possible values.",
            "type": "string"
          },
          "subscription_id": {
            "description": "Indicates which Subscription the resource type belongs to.",
            "type": "string"
          },
          "type": {
            "description": "Type of capability [Cluster].",
            "type": "string"
          }
        }
      },
      "CapabilityReviewResponse": {
        "description": "Representation of a capability review response.",
        "properties": {
          "result": {
            "type": "string"
          }
        }
      },
      "ExportControlReviewRequest": {
        "properties": {
          "account_username": {
            "type": "string"
          }
        }
      },
      "ExportControlReviewResponse": {
        "properties": {
          "restricted": {
            "type": "boolean"
          }
        }
      },
      "FeatureReviewRequest": {
        "description": "Representation of a feature review",
        "properties": {
          "account_username": {
            "description": "Defines the username of the account of which access is being reviewed ",
            "type": "string"
          },
          "cluster_id": {
            "description": "Defines the cluster id which access is being reviewed",
            "type": "string"
          },
          "feature": {
            "description": "Indicates the feature which can be toggled",
            "type": "string"
          },
          "organization_id": {
            "description": "Defines the organisation id of the account of which access is being reviewed",
            "type": "string"
          }
        }
      },
      "FeatureReviewResponse": {
        "description": "Representation of a feature review response",
        "properties": {
          "enabled": {
            "description": "Defines whether the feature can be toggled",
            "type": "boolean"
          },
          "feature_id": {
            "description": "Defines the feature id which can be toggled",
            "type": "string"
          }
        }
      },
      "ResourceReview": {
        "description": "Contains the result of performing a resource access review.",
        "properties": {
          "account_username": {
            "description": "Name of the account that is trying to perform the access.",
            "type": "string"
          },
          "action": {
            "description": "Action that will the user is trying to perform.",
            "type": "string"
          },
          "cluster_ids": {
            "description": "Identifiers of the Clusters (internal ids) that the user has permission to perform the action upon.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "cluster_uuids": {
            "description": "Identifiers which Clusters (external ids) that the user has permission to perform the action upon.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "organization_ids": {
            "description": "Identifiers of the organizations that the user has permissions to perform the action\nupon.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "resource_type": {
            "description": "Type of resource.",
            "type": "string"
          },
          "subscription_ids": {
            "description": "Identifiers of the subscriptions that the user has permission to perform the action upon.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ResourceReviewRequest": {
        "description": "Request to perform a resource access review.",
        "properties": {
          "account_username": {
            "description": "Name of the account that is trying to access the resource.",
            "type": "string"
          },
          "action": {
            "description": "Action that will be performed on the resource.",
            "type": "string"
          },
          "exclude_subscription_statuses": {
            "description": "Subscriptions with these statuses will be excluded from results.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SubscriptionStatus"
            }
          },
          "reduce_cluster_list": {
            "description": "If true, in the case when all subscriptions in organization are permitted, response will *not* include\nthese subscriptions' ID, but organization only.",
            "type": "boolean"
          },
          "resource_type": {
            "description": "Type of resource.",
            "type": "string"
          }
        }
      },
      "SelfAccessReviewRequest": {
        "description": "Representation of an access review performed against oneself",
        "properties": {
          "action": {
            "description": "Indicates the action, one of: [get,list,create,delete,update]",
            "type": "string"
          },
          "cluster_id": {
            "description": "Indicates which Cluster (internal id) the resource type belongs to",
            "type": "string"
          },
          "cluster_uuid": {
            "description": "Indicates which Cluster (external id) the resource type belongs to",
            "type": "string"
          },
          "organization_id": {
            "description": "Indicates which Organization the resource type belongs to",
            "type": "string"
          },
          "resource_type": {
            "description": "Indicates the type of the resource an action would be taken on.\nSee uhc-account-manager/openapi/openapi.yaml for a list of possible values",
            "type": "string"
          },
          "subscription_id": {
            "description": "Indicates which Subscription the resource type belongs to",
            "type": "string"
          }
        }
      },
      "SelfAccessReviewResponse": {
        "description": "Representation of an access review response, performed against oneself",
        "properties": {
          "action": {
            "description": "Indicates the action, one of: [get,list,create,delete,update].",
            "type": "string"
          },
          "allowed": {
            "description": "Defines whether the action on the specified resource type is allowed.",
            "type": "boolean"
          },
          "cluster_id": {
            "description": "Indicates which Cluster (internal id) the resource type belongs to.",
            "type": "string"
          },
          "cluster_uuid": {
            "description": "Indicates which Cluster (external id) the resource type belongs to.",
            "type": "string"
          },
          "is_ocm_internal": {
            "description": "Defines whether an account is ocm internal.",
            "type": "boolean"
          },
          "organization_id": {
            "description": "Indicates which Organization the resource type belongs to.",
            "type": "string"
          },
          "reason": {
            "description": "Defines further context for the value in allowed (if applicable).",
            "type": "string"
          },
          "resource_type": {
            "description": "Indicates the type of the resource an action would be taken on.\nSee uhc-account-manager/openapi/openapi.yaml for a list of possible values.",
            "type": "string"
          },
          "subscription_id": {
            "description": "Indicates which Subscription the resource type belongs to.",
            "type": "string"
          }
        }
      },
      "SelfCapabilityReviewRequest": {
        "description": "Representation of a capability review.",
        "properties": {
          "account_username": {
            "description": "Defines the username of the account of which capability is being reviewed.",
            "type": "string"
          },
          "capability": {
            "description": "Capability to review [manage_cluster_admin].",
            "type": "string"
          },
          "cluster_id": {
            "description": "Indicates which Cluster (internal id) the resource type belongs to.",
            "type": "string"
          },
          "organization_id": {
            "description": "Indicates which Organization the resource type belongs to.",
            "type": "string"
          },
          "resource_type": {
            "description": "Indicates the type of the resource.\nSee uhc-account-manager/openapi/openapi.yaml for a list of possible values.",
            "type": "string"
          },
          "subscription_id": {
            "description": "Indicates which Subscription the resource type belongs to.",
            "type": "string"
          },
          "type": {
            "description": "Type of capability [Cluster].",
            "type": "string"
          }
        }
      },
      "SelfCapabilityReviewResponse": {
        "description": "Representation of a capability review response.",
        "properties": {
          "result": {
            "type": "string"
          }
        }
      },
      "SelfFeatureReviewRequest": {
        "description": "Representation of a feature review performed against oneself",
        "properties": {
          "feature": {
            "description": "Indicates the feature which can be toggled",
            "type": "string"
          }
        }
      },
      "SelfFeatureReviewResponse": {
        "description": "Representation of a feature review response, performed against oneself",
        "properties": {
          "enabled": {
            "description": "Defines whether the feature can be toggled",
            "type": "boolean"
          },
          "feature_id": {
            "description": "Defines the feature id which can be toggled",
            "type": "string"
          }
        }
      },
      "SelfTermsReviewRequest": {
        "description": "Representation of Red Hat's Terms and Conditions for using OpenShift Dedicated and Amazon Red Hat OpenShift [Terms]\nreview requests.",
        "properties": {
          "event_code": {
            "description": "Defines the event code of the terms being checked",
            "type": "string"
          },
          "site_code": {
            "description": "Defines the site code of the terms being checked",
            "type": "string"
          }
        }
      },
      "SubscriptionStatus": {
        "type": "string",
        "enum": [
          "active",
          "archived",
          "deprovisioned",
          "disconnected",
          "reserved",
          "stale"
        ]
      },
      "TermsReviewRequest": {
        "description": "Representation of Red Hat's Terms and Conditions for using OpenShift Dedicated and Amazon Red Hat OpenShift [Terms]\nreview requests.",
        "properties": {
          "account_username": {
            "description": "Defines the username of the account of which Terms is being reviewed.",
            "type": "string"
          },
          "check_optional_terms": {
            "description": "If false, only `terms_required` will be checked",
            "type": "boolean"
          },
          "event_code": {
            "description": "Defines the event code of the terms being checked",
            "type": "string"
          },
          "site_code": {
            "description": "Defines the site code of the terms being checked",
            "type": "string"
          }
        }
      },
      "TermsReviewResponse": {
        "description": "Representation of Red Hat's Terms and Conditions for using OpenShift Dedicated and Amazon Red Hat OpenShift [Terms]\nreview response.",
        "properties": {
          "account_id": {
            "description": "Account ID of requesting user.",
            "type": "string"
          },
          "organization_id": {
            "description": "Indicates which Organization the user belongs to.",
            "type": "string"
          },
          "redirect_url": {
            "description": "Optional URL to Red Hat's Terms and Conditions Application if the user has either required or available Terms\nneeds to acknowledge.",
            "type": "string"
          },
          "terms_available": {
            "description": "Defines whether Terms are available.",
            "type": "boolean"
          },
          "terms_required": {
            "description": "Defines whether user is required to accept Terms before using OpenShift Dedicated and Amazon Red Hat OpenShift.",
            "type": "boolean"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will always be 'Error'",
            "type": "string"
          },
          "id": {
            "description": "Numeric identifier of the error.",
            "type": "integer",
            "format": "int32"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "code": {
            "description": "Globally unique code of the error, composed of the unique identifier of the API and the numeric identifier of the error. For example, for if the numeric identifier of the error is `93` and the identifier of the API is `clusters_mgmt` then the code will be `CLUSTERS-MGMT-93`.",
            "type": "string"
          },
          "reason": {
            "description": "Human readable description of the error.",
            "type": "string"
          },
          "details": {
            "description": "Extra information about the error.",
            "type": "object",
            "additionalProperties": true
          }
        }
      }
    },
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearer": [
        
      ]
    }
  ]
}