{
  "openapi": "3.0.0",
  "info": {
    "version": "v1alpha1",
    "title": "aro_hcp",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "contact": {
      "name": "OCM Feedback",
      "email": "ocm-feedback@redhat.com"
    }
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://api.openshift.com"
    },
    {
      "description": "Stage",
      "url": "https://api.stage.openshift.com"
    }
  ],
  "paths": {
    "/api/aro_hcp/v1alpha1": {
      "get": {
        "description": "Retrieves the version metadata.",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metadata"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aro_hcp/v1alpha1/clusters": {
      "post": {
        "description": "Provision a new cluster and add it to the collection of clusters.\n\nSee the `register_cluster` method for adding an existing cluster.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Cluster"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Retrieves the list of clusters.",
        "parameters": [
          {
            "name": "order",
            "description": "Order criteria.\n\nThe syntax of this parameter is similar to the syntax of the _order by_ clause of\na SQL statement, but using the names of the attributes of the cluster instead of\nthe names of the columns of a table. For example, in order to sort the clusters\ndescending by region identifier the value should be:\n\n```sql\nregion.id desc\n```\n\nIf the parameter isn't provided, or if the value is empty, then the order of the\nresults is undefined.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "description": "Index of the requested page, where one corresponds to the first page.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "description": "Search criteria.\n\nThe syntax of this parameter is similar to the syntax of the _where_ clause of a\nSQL statement, but using the names of the attributes of the cluster instead of\nthe names of the columns of a table. For example, in order to retrieve all the\nclusters with a name starting with `my` in the `us-east-1` region the value\nshould be:\n\n```sql\nname like 'my%' and region.id = 'us-east-1'\n```\n\nIf the parameter isn't provided, or if the value is empty, then all the\nclusters that the user has permission to see will be returned.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "description": "Maximum number of items that will be contained in the returned page.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "description": "Retrieved list of clusters.",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Cluster"
                      }
                    },
                    "page": {
                      "description": "Index of the requested page, where one corresponds to the first page.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "size": {
                      "description": "Maximum number of items that will be contained in the returned page.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "total": {
                      "description": "Total number of items of the collection that match the search criteria,\nregardless of the size of the page.",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aro_hcp/v1alpha1/clusters/{cluster_id}": {
      "delete": {
        "description": "Deletes the cluster.",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "best_effort",
            "description": "BestEffort flag is used to check if the cluster deletion should be best-effort mode or not.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "deprovision",
            "description": "If false it will only delete from OCM but not the actual cluster resources.\nfalse is only allowed for OCP clusters. true by default.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dry_run",
            "description": "Dry run flag is used to check if the operation can be completed, but won't delete.",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success."
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates the cluster.",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Cluster"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Retrieves the details of the cluster.",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aro_hcp/v1alpha1/clusters/{cluster_id}/autoscaler": {
      "get": {
        "description": "Retrieves the autoscaler of a cluster.",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterAutoscaler"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates the cluster autoscaler.",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterAutoscaler"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterAutoscaler"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aro_hcp/v1alpha1/clusters/{cluster_id}/external_auth_config": {
      "get": {
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAuthConfig"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aro_hcp/v1alpha1/clusters/{cluster_id}/external_auth_config/external_auths": {
      "post": {
        "description": "Adds a new authentication to the cluster.",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalAuth"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAuth"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "page",
            "description": "Index of the requested page, where one corresponds to the first page.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "description": "Number of items contained in the returned page.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "description": "Retrieved list of external authentications.",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExternalAuth"
                      }
                    },
                    "page": {
                      "description": "Index of the requested page, where one corresponds to the first page.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "size": {
                      "description": "Number of items contained in the returned page.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "total": {
                      "description": "Total number of items of the collection.",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aro_hcp/v1alpha1/clusters/{cluster_id}/external_auth_config/external_auths/{external_auth_id}": {
      "delete": {
        "description": "Deletes the external authentication.",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "external_auth_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Success."
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates the external authentication.",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "external_auth_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalAuth"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAuth"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Retrieves the details of an external authentication.",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "external_auth_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAuth"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aro_hcp/v1alpha1/clusters/{cluster_id}/inflight_checks": {
      "get": {
        "description": "Retrieves the list of inflight checks.",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "page",
            "description": "Index of the requested page, where one corresponds to the first page.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "description": "Number of items contained in the returned page.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "description": "Retrieved list of inflight checks.",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InflightCheck"
                      }
                    },
                    "page": {
                      "description": "Index of the requested page, where one corresponds to the first page.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "size": {
                      "description": "Number of items contained in the returned page.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "total": {
                      "description": "Total number of items of the collection.",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aro_hcp/v1alpha1/clusters/{cluster_id}/inflight_checks/{inflight_check_id}": {
      "get": {
        "description": "Retrieves the details of the inflight check.",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "inflight_check_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InflightCheck"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aro_hcp/v1alpha1/clusters/{cluster_id}/node_pools": {
      "post": {
        "description": "Adds a new node pool to the cluster.",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodePool"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodePool"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Retrieves the list of node pools.",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "order",
            "description": "Order criteria.\n\nThe syntax of this parameter is similar to the syntax of the _order by_ clause of\na SQL statement, but using the names of the attributes of the node pools instead of\nthe names of the columns of a table. For example, in order to sort the node pools\ndescending by identifier the value should be:\n\n```sql\nid desc\n```\n\nIf the parameter isn't provided, or if the value is empty, then the order of the\nresults is undefined.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "description": "Index of the requested page, where one corresponds to the first page.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "description": "Search criteria.\n\nThe syntax of this parameter is similar to the syntax of the _where_ clause of a\nSQL statement, but using the names of the attributes of the node pools instead of\nthe names of the columns of a table. For example, in order to retrieve all the\nnode pools with replicas of two the following is required:\n\n```sql\nreplicas = 2\n```\n\nIf the parameter isn't provided, or if the value is empty, then all the\nnode pools that the user has permission to see will be returned.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "description": "Number of items contained in the returned page.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "description": "Retrieved list of node pools.",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NodePool"
                      }
                    },
                    "page": {
                      "description": "Index of the requested page, where one corresponds to the first page.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "size": {
                      "description": "Number of items contained in the returned page.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "total": {
                      "description": "Total number of items of the collection.",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aro_hcp/v1alpha1/clusters/{cluster_id}/node_pools/{node_pool_id}": {
      "delete": {
        "description": "Deletes the node pool.",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "node_pool_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Success."
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates the node pool.",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "node_pool_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodePool"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodePool"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "description": "Retrieves the details of the node pool.",
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "node_pool_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodePool"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aro_hcp/v1alpha1/clusters/{cluster_id}/node_pools/{node_pool_id}/status": {
      "get": {
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "node_pool_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NodePoolStatus"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aro_hcp/v1alpha1/clusters/{cluster_id}/status": {
      "get": {
        "parameters": [
          {
            "name": "cluster_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterStatus"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aro_hcp/v1alpha1/managed_identities_requirements": {
      "get": {
        "description": "Retrieves an ManagedIdentitiesRequirements by version query param.",
        "parameters": [
          {
            "name": "required",
            "description": "Get the managed identities requirements depending on when they are required.\nThe query parameter is optional, it needs to be either (\"always\" or \"on_enablement\"). \nWhen not supplied, this enablement constraint won't be taken into account.\nWhen supplied and among the accepted values, the query parameter will be used to return all managed identities requirements\nthat matches the value given in the query parameter.\nWhen supplied but the value is invalid, an error is going to be returned.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "description": "Get the managed identities requirements by OpenShift version.\nThe query parameter is optional, but when supplied it needs to be \nin the format X.Y (e.g 4.18) where X and Y are major and minor segments of \nthe OpenShift version respectively.\nWhen supplied, the returned response will include all the control plane \nand data plane operators requirements for the given version. \nIf not supplied, the OpenShift version constraint won't be taken into account \nwhen returning the managed identities requirements.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ManagedIdentitiesRequirements"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aro_hcp/v1alpha1/versions": {
      "get": {
        "description": "Retrieves a list of versions.",
        "parameters": [
          {
            "name": "order",
            "description": "Order criteria.\n\nThe syntax of this parameter is similar to the syntax of the _order by_ clause of\na SQL statement, but using the names of the attributes of the version instead of\nthe names of the columns of a table. For example, in order to sort the versions\ndescending by identifier the value should be:\n\n```sql\nid desc\n```\n\nIf the parameter isn't provided, or if the value is empty, then the order of the\nresults is undefined.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "description": "Index of the requested page, where one corresponds to the first page.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "description": "Search criteria.\n\nThe syntax of this parameter is similar to the syntax of the _where_ clause of a\nSQL statement, but using the names of the attributes of the version instead of\nthe names of the columns of a table. For example, in order to retrieve all the\nversions that are enabled:\n\n```sql\nenabled = 't'\n```\n\nIf the parameter isn't provided, or if the value is empty, then all the versions\nthat the user has permission to see will be returned.",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "description": "Maximum number of items that will be contained in the returned page.\n\nDefault value is `100`.",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "description": "Retrieved list of versions.",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Version"
                      }
                    },
                    "page": {
                      "description": "Index of the requested page, where one corresponds to the first page.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "size": {
                      "description": "Maximum number of items that will be contained in the returned page.\n\nDefault value is `100`.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "total": {
                      "description": "Total number of items of the collection that match the search criteria,\nregardless of the size of the page.",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/aro_hcp/v1alpha1/versions/{version_id}": {
      "get": {
        "description": "Retrieves the details of the version.",
        "parameters": [
          {
            "name": "version_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Version"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Metadata": {
        "description": "Version metadata.",
        "properties": {
          "server_version": {
            "description": "Version of the server.",
            "type": "string"
          }
        }
      },
      "AMIOverride": {
        "description": "AMIOverride specifies what Amazon Machine Image should be used for a particular product and region.",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'AMIOverride' if this is a complete object or 'AMIOverrideLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "ami": {
            "description": "AMI is the id of the Amazon Machine Image.",
            "type": "string"
          },
          "product": {
            "description": "Link to the product type.",
            "$ref": "#/components/schemas/Product"
          },
          "region": {
            "description": "Link to the cloud provider region.",
            "$ref": "#/components/schemas/CloudRegion"
          }
        }
      },
      "AWS": {
        "description": "_Amazon Web Services_ specific settings of a cluster.",
        "properties": {
          "kms_key_arn": {
            "description": "Customer Managed Key to encrypt EBS Volume",
            "type": "string"
          },
          "sts": {
            "description": "Contains the necessary attributes to support role-based authentication on AWS.",
            "$ref": "#/components/schemas/STS"
          },
          "access_key_id": {
            "description": "AWS access key identifier.",
            "type": "string"
          },
          "account_id": {
            "description": "AWS account identifier.",
            "type": "string"
          },
          "additional_allowed_principals": {
            "description": "Additional allowed principal ARNs to be added to the hosted control plane's VPC Endpoint Service.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "additional_compute_security_group_ids": {
            "description": "Additional AWS Security Groups to be added to default worker (compute) machine pool.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "additional_control_plane_security_group_ids": {
            "description": "Additional AWS Security Groups to be added to default control plane machine pool.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "additional_infra_security_group_ids": {
            "description": "Additional AWS Security Groups to be added to default infra machine pool.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "audit_log": {
            "description": "Audit log forwarding configuration",
            "$ref": "#/components/schemas/AuditLog"
          },
          "auto_node": {
            "description": "AWS specific configuration for AutoNode",
            "$ref": "#/components/schemas/AwsAutoNode"
          },
          "billing_account_id": {
            "description": "BillingAccountID is the account used for billing subscriptions purchased via the marketplace",
            "type": "string"
          },
          "ec2_metadata_http_tokens": {
            "description": "Which Ec2MetadataHttpTokens to use for metadata service interaction options for EC2 instances",
            "$ref": "#/components/schemas/Ec2MetadataHttpTokens"
          },
          "etcd_encryption": {
            "description": "Related etcd encryption configuration",
            "$ref": "#/components/schemas/AwsEtcdEncryption"
          },
          "hcp_internal_communication_hosted_zone_id": {
            "description": "ID of local private hosted zone for hypershift internal communication.",
            "type": "string"
          },
          "private_hosted_zone_id": {
            "description": "ID of private hosted zone.",
            "type": "string"
          },
          "private_hosted_zone_role_arn": {
            "description": "Role ARN for private hosted zone.",
            "type": "string"
          },
          "private_link": {
            "description": "Sets cluster to be inaccessible externally.",
            "type": "boolean"
          },
          "private_link_configuration": {
            "description": "Manages additional configuration for Private Links.",
            "$ref": "#/components/schemas/PrivateLinkClusterConfiguration"
          },
          "secret_access_key": {
            "description": "AWS secret access key.",
            "type": "string"
          },
          "subnet_ids": {
            "description": "The subnet ids to be used when installing the cluster.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "description": "Optional keys and values that the installer will add as tags to all AWS resources it creates",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "vpc_endpoint_role_arn": {
            "description": "Role ARN for VPC Endpoint Service cross account role.",
            "type": "string"
          }
        }
      },
      "AWSBackupConfig": {
        "description": "Backup configuration for AWS clusters",
        "properties": {
          "s3_bucket": {
            "description": "Name of the S3 bucket used to save the backup",
            "type": "string"
          },
          "account_id": {
            "description": "ID of the AWS Disaster Recovery (DR) account",
            "type": "string"
          },
          "identity_provider_arn": {
            "description": "ARN of the identity provider created in the Disaster Recovery (DR) account for the Management Cluster",
            "type": "string"
          },
          "management_cluster": {
            "description": "Name of the management cluster the backup config refers to",
            "type": "string"
          },
          "role_arn": {
            "description": "ARN of the role used by the CS Trusted Account to gain access to the Disaster Recovery (DR) account",
            "type": "string"
          }
        }
      },
      "AWSCapacityReservation": {
        "description": "AWS Capacity Reservation specification.",
        "properties": {
          "id": {
            "description": "Specify the target Capacity Reservation in which the EC2 instances will be launched.",
            "type": "string"
          },
          "market_type": {
            "description": "marketType specifies the market type of the CapacityReservation for the EC2\ninstances. Valid values are OnDemand, CapacityBlocks.\n\"OnDemand\": EC2 instances run as standard On-Demand instances.\n\"CapacityBlocks\": scheduled pre-purchased compute capacity.",
            "$ref": "#/components/schemas/MarketType"
          }
        }
      },
      "AWSFlavour": {
        "description": "Specification for different classes of nodes inside a flavour.",
        "properties": {
          "compute_instance_type": {
            "description": "AWS default instance type for the worker volume.\n\nUser can be overridden specifying in the cluster itself a type for compute node.",
            "type": "string"
          },
          "infra_instance_type": {
            "description": "AWS default instance type for the infra volume.",
            "type": "string"
          },
          "infra_volume": {
            "description": "Infra volume specification.",
            "$ref": "#/components/schemas/AWSVolume"
          },
          "master_instance_type": {
            "description": "AWS default instance type for the master volume.",
            "type": "string"
          },
          "master_volume": {
            "description": "Master volume specification.",
            "$ref": "#/components/schemas/AWSVolume"
          },
          "worker_volume": {
            "description": "Worker volume specification.",
            "$ref": "#/components/schemas/AWSVolume"
          }
        }
      },
      "AWSInfrastructureAccessRole": {
        "description": "A set of acces permissions for AWS resources",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'AWSInfrastructureAccessRole' if this is a complete object or 'AWSInfrastructureAccessRoleLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "description": {
            "description": "Description of the role.",
            "type": "string"
          },
          "display_name": {
            "description": "Human friendly identifier of the role, for example `Read only`.",
            "type": "string"
          },
          "state": {
            "description": "State of the role.",
            "$ref": "#/components/schemas/AWSInfrastructureAccessRoleState"
          }
        }
      },
      "AWSInfrastructureAccessRoleGrant": {
        "description": "Representation of an AWS infrastructure access role grant.",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'AWSInfrastructureAccessRoleGrant' if this is a complete object or 'AWSInfrastructureAccessRoleGrantLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "console_url": {
            "description": "URL to switch to the role in AWS console.",
            "type": "string"
          },
          "role": {
            "description": "Link to AWS infrastructure access role.\nGrant must use a 'valid' role. ",
            "$ref": "#/components/schemas/AWSInfrastructureAccessRole"
          },
          "state": {
            "description": "State of the grant.",
            "$ref": "#/components/schemas/AWSInfrastructureAccessRoleGrantState"
          },
          "state_description": {
            "description": "Description of the state.\nWill be empty unless state is 'Failed'.",
            "type": "string"
          },
          "user_arn": {
            "description": "The user AWS IAM ARN we want to grant the role.",
            "type": "string"
          }
        }
      },
      "AWSInfrastructureAccessRoleGrantState": {
        "description": "State of an AWS infrastructure access role grant.",
        "type": "string",
        "enum": [
          "deleting",
          "failed",
          "pending",
          "ready",
          "removed"
        ]
      },
      "AWSInfrastructureAccessRoleState": {
        "description": "State of an AWS infrastructure access role.",
        "type": "string",
        "enum": [
          "invalid",
          "removed",
          "valid"
        ]
      },
      "AWSMachinePool": {
        "description": "Representation of aws machine pool specific parameters.",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'AWSMachinePool' if this is a complete object or 'AWSMachinePoolLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "additional_security_group_ids": {
            "description": "Additional AWS Security Groups to be added machine pool. Note that machine pools can only be worker node at the time.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "availability_zone_types": {
            "description": "Associates nodepool availability zones with zone types (e.g. wavelength, local).",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "spot_market_options": {
            "description": "Use spot instances on this machine pool to reduce cost.",
            "$ref": "#/components/schemas/AWSSpotMarketOptions"
          },
          "subnet_outposts": {
            "description": "Associates nodepool subnets with AWS Outposts.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "tags": {
            "description": "Optional keys and values that the machine pool provisioner will add as AWS tags to all AWS resources it creates.\n\nAWS tags must conform to the following standards:\n- Each resource may have a maximum of 25 tags\n- Tags beginning with \"aws:\" are reserved for system use and may not be set\n- Tag keys may be between 1 and 128 characters in length\n- Tag values may be between 0 and 256 characters in length\n- Tags may only contain letters, numbers, spaces, and the following characters: [_ . : / = + - @]",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "AWSNodePool": {
        "description": "Representation of aws node pool specific parameters.",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'AWSNodePool' if this is a complete object or 'AWSNodePoolLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "additional_security_group_ids": {
            "description": "Additional AWS Security Groups to be added node pool.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "availability_zone_types": {
            "description": "Associates nodepool availability zones with zone types (e.g. wavelength, local).",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "capacity_reservation": {
            "description": "If present it defines the AWS Capacity Reservation used for this NodePool",
            "$ref": "#/components/schemas/AWSCapacityReservation"
          },
          "ec2_metadata_http_tokens": {
            "description": "Which Ec2MetadataHttpTokens to use for metadata service interaction options for EC2 instances",
            "$ref": "#/components/schemas/Ec2MetadataHttpTokens"
          },
          "instance_profile": {
            "description": "InstanceProfile is the AWS EC2 instance profile, which is a container for an IAM role that the EC2 instance uses.",
            "type": "string"
          },
          "instance_type": {
            "description": "InstanceType is an ec2 instance type for node instances (e.g. m5.large).",
            "type": "string"
          },
          "root_volume": {
            "description": "AWS Volume specification to be used to set custom worker disk size",
            "$ref": "#/components/schemas/AWSVolume"
          },
          "subnet_outposts": {
            "description": "Associates nodepool subnets with AWS Outposts.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "tags": {
            "description": "Optional keys and values that the installer will add as tags to all AWS resources it creates.\n\nAWS tags must conform to the following standards:\n- Each resource may have a maximum of 25 tags\n- Tags beginning with \"aws:\" are reserved for system use and may not be set\n- Tag keys may be between 1 and 128 characters in length\n- Tag values may be between 0 and 256 characters in length\n- Tags may only contain letters, numbers, spaces, and the following characters: [_ . : / = + - @]",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "AWSShard": {
        "description": "Config for AWS provision shards",
        "properties": {
          "ecr_repository_urls": {
            "description": "ECR repository URLs of the provision shard",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "backup_configs": {
            "description": "Backup configurations for the provision shard",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AWSBackupConfig"
            }
          }
        }
      },
      "AWSSpotMarketOptions": {
        "description": "Spot market options for AWS machine pool.",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'AWSSpotMarketOptions' if this is a complete object or 'AWSSpotMarketOptionsLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "max_price": {
            "description": "The max price for spot instance. Optional.\nIf not set, use the on-demand price.",
            "type": "number",
            "format": "float"
          }
        }
      },
      "AWSVolume": {
        "description": "Holds settings for an AWS storage volume.",
        "properties": {
          "iops": {
            "description": "Volume provisioned IOPS.",
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "description": "Volume size in Gib.",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AWSSTSAccountRole": {
        "description": "Representation of an sts account role for a rosa cluster",
        "properties": {
          "items": {
            "description": "The list of STS Roles for this Account Role",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AWSSTSRole"
            }
          },
          "prefix": {
            "description": "The Prefix for this Account Role",
            "type": "string"
          }
        }
      },
      "AWSSTSPolicy": {
        "description": "Representation of an sts policies for rosa cluster",
        "properties": {
          "arn": {
            "description": "The ARN of the managed policy",
            "type": "string"
          },
          "id": {
            "description": "Policy ID",
            "type": "string"
          },
          "details": {
            "description": "Policy Details",
            "type": "string"
          },
          "type": {
            "description": "Type of policy operator/account role",
            "type": "string"
          }
        }
      },
      "AWSSTSRole": {
        "description": "Representation of an sts role for a rosa cluster",
        "properties": {
          "hcpManagedPolicies": {
            "description": "Does this Role have HCP Managed Policies?",
            "type": "boolean"
          },
          "isAdmin": {
            "description": "Does this role have Admin permission?",
            "type": "boolean"
          },
          "managedPolicies": {
            "description": "Does this Role have Managed Policies?",
            "type": "boolean"
          },
          "arn": {
            "description": "The AWS ARN for this Role",
            "type": "string"
          },
          "type": {
            "description": "The type of this Role",
            "type": "string"
          },
          "roleVersion": {
            "description": "The Openshift Version for this Role",
            "type": "string"
          }
        }
      },
      "CCS": {
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'CCS' if this is a complete object or 'CCSLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "disable_scp_checks": {
            "description": "Indicates if cloud permissions checks are disabled,\nwhen attempting installation of the cluster.",
            "type": "boolean"
          },
          "enabled": {
            "description": "Indicates if Customer Cloud Subscription is enabled on the cluster.",
            "type": "boolean"
          }
        }
      },
      "CIDRBlockAccess": {
        "description": "Describes the CIDR Block access policy to the Kubernetes API server.\nCurrently, only supported for ARO-HCP based clusters.\nThe default policy mode is \"allow_all\" that is, all access is allowed.",
        "properties": {
          "allow": {
            "$ref": "#/components/schemas/CIDRBlockAllowAccess"
          }
        }
      },
      "CIDRBlockAllowAccess": {
        "properties": {
          "mode": {
            "description": "There are two modes: \"allow_all\" and \"allow_list\"; if \"allow_list\" is provided than a non-empty 'values' list must be provided.\nOtherwise, if \"allow_all\" is provided then 'values' list should be omitted.",
            "type": "string"
          },
          "values": {
            "description": "The 'values' list should contain a CIDR block list (An IPV4 address range in the format `<ipv4_address>/<network_mask>`). \nThe maximum number of CIDR blocks supported is 500. The CIDR blocks should be non-overlapping and valid.\nThe value \"0.0.0.0/0\" is not considered a valid value, as the user can use \"allow_all\" mode to indicate this behavior.\nThe values should not contain the set of Private IP address ranges.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CPUTotalNodeRoleOSMetricNode": {
        "description": "Representation of information from telemetry about a the CPU capacity by node role and OS.",
        "properties": {
          "cpu_total": {
            "description": "The total CPU capacity of nodes with this set of roles and operating system.",
            "type": "number",
            "format": "float"
          },
          "node_roles": {
            "description": "Representation of the node role for a cluster.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "operating_system": {
            "description": "The operating system.",
            "type": "string"
          },
          "time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CPUTotalsNodeRoleOSMetricNode": {
        "description": "Representation of information from telemetry about the CPU capacity by node\nrole and OS of a cluster.",
        "properties": {
          "cpu_totals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CPUTotalNodeRoleOSMetricNode"
            }
          }
        }
      },
      "DNS": {
        "description": "DNS settings of the cluster.",
        "properties": {
          "base_domain": {
            "description": "Base DNS domain of the cluster.\n\nDuring the installation of the cluster it is necessary to create multiple DNS records.\nThey will be created as sub-domains of this domain. For example, if the domain_prefix of the\ncluster is `mycluster` and the base domain is `example.com` then the following DNS\nrecords will be created:\n\n```\nmycluster-api.example.com\nmycluster-etcd-0.example.com\nmycluster-etcd-1.example.com\nmycluster-etcd-3.example.com\n```\n\nThe exact number, type and names of the created DNS record depends on the characteristics\nof the cluster, and may be different for different versions of _OpenShift_. Please don't\nrely on them. For example, to find what is the URL of the Kubernetes API server of the\ncluster don't assume that it will be `mycluster-api.example.com`. Instead of that use\nthis API to retrieve the description of the cluster, and get it from the `api.url`\nattribute. For example, if the identifier of the cluster is `123` send a request like\nthis:\n\n```http\nGET /api/aro_hcp/v1alpha1/clusters/123 HTTP/1.1\n```\n\nThat will return a response like this, including the `api.url` attribute:\n\n```json\n{\n    \"kind\": \"Cluster\",\n    \"id\": \"123\",\n    \"href\": \"/api/aro_hcp/v1alpha1/clusters/123\",\n        \"api\": {\n        \"url\": \"https://mycluster-api.example.com:6443\"\n    },\n    ...\n}\n```\n\nWhen the cluster is created in Amazon Web Services it is necessary to create this base\nDNS domain in advance, using AWS Route53 (https://console.aws.amazon.com/route53).",
            "type": "string"
          }
        }
      },
      "DNSDomain": {
        "description": "Contains the properties of a DNS domain.",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'DNSDomain' if this is a complete object or 'DNSDomainLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "cluster": {
            "description": "Link to the cluster that is registered with the DNS domain (optional).",
            "$ref": "#/components/schemas/ClusterLink"
          },
          "cluster_arch": {
            "description": "Signals which cluster architecture the domain is ready for.",
            "$ref": "#/components/schemas/ClusterArchitecture"
          },
          "organization": {
            "description": "Link to the organization that reserved the DNS domain.",
            "$ref": "#/components/schemas/OrganizationLink"
          },
          "reserved_at_timestamp": {
            "description": "Date and time when the DNS domain was reserved.",
            "type": "string",
            "format": "date-time"
          },
          "user_defined": {
            "description": "Indicates if this dns domain is user defined.",
            "type": "boolean"
          }
        }
      },
      "GCP": {
        "description": "Google cloud platform settings of a cluster.",
        "properties": {
          "auth_uri": {
            "description": "GCP authentication uri",
            "type": "string"
          },
          "auth_provider_x509_cert_url": {
            "description": "GCP Authentication provider x509 certificate url",
            "type": "string"
          },
          "authentication": {
            "description": "GCP Authentication Method",
            "$ref": "#/components/schemas/GcpAuthentication"
          },
          "client_id": {
            "description": "GCP client identifier",
            "type": "string"
          },
          "client_x509_cert_url": {
            "description": "GCP client x509 certificate url",
            "type": "string"
          },
          "client_email": {
            "description": "GCP client email",
            "type": "string"
          },
          "private_key": {
            "description": "GCP private key",
            "type": "string"
          },
          "private_key_id": {
            "description": "GCP private key identifier",
            "type": "string"
          },
          "private_service_connect": {
            "description": "GCP PrivateServiceConnect configuration",
            "$ref": "#/components/schemas/GcpPrivateServiceConnect"
          },
          "project_id": {
            "description": "GCP project identifier.",
            "type": "string"
          },
          "security": {
            "description": "GCP Security Settings",
            "$ref": "#/components/schemas/GcpSecurity"
          },
          "token_uri": {
            "description": "GCP token uri",
            "type": "string"
          },
          "type": {
            "description": "GCP the type of the service the key belongs to",
            "type": "string"
          }
        }
      },
      "GCPEncryptionKey": {
        "description": "GCP Encryption Key for CCS clusters.",
        "properties": {
          "kms_key_service_account": {
            "description": "Service account used to access the KMS key",
            "type": "string"
          },
          "key_location": {
            "description": "Location of the encryption key ring",
            "type": "string"
          },
          "key_name": {
            "description": "Name of the encryption key",
            "type": "string"
          },
          "key_ring": {
            "description": "Name of the key ring the encryption key is located on",
            "type": "string"
          }
        }
      },
      "GCPFlavour": {
        "description": "Specification for different classes of nodes inside a flavour.",
        "properties": {
          "compute_instance_type": {
            "description": "GCP default instance type for the worker volume.\n\nUser can be overridden specifying in the cluster itself a type for compute node.",
            "type": "string"
          },
          "infra_instance_type": {
            "description": "GCP default instance type for the infra volume.",
            "type": "string"
          },
          "infra_volume": {
            "description": "Infra volume specification.",
            "$ref": "#/components/schemas/GCPVolume"
          },
          "master_instance_type": {
            "description": "GCP default instance type for the master volume.",
            "type": "string"
          },
          "master_volume": {
            "description": "Master volume specification.",
            "$ref": "#/components/schemas/GCPVolume"
          },
          "worker_volume": {
            "description": "Worker volume specification.",
            "$ref": "#/components/schemas/GCPVolume"
          }
        }
      },
      "GCPImageOverride": {
        "description": "GcpImageOverride specifies what a GCP VM Image should be used for a particular product and billing model",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'GCPImageOverride' if this is a complete object or 'GCPImageOverrideLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "billing_model": {
            "description": "Link to the billing model.",
            "$ref": "#/components/schemas/BillingModelItem"
          },
          "image_id": {
            "description": "ImageID is the id of the Google Cloud Platform image.",
            "type": "string"
          },
          "product": {
            "description": "Link to the product type.",
            "$ref": "#/components/schemas/Product"
          },
          "project_id": {
            "description": "ProjectID is the id of the Google Cloud Platform project that hosts the image.",
            "type": "string"
          }
        }
      },
      "GCPMachinePool": {
        "description": "Representation of gcp machine pool specific parameters.",
        "properties": {
          "secure_boot": {
            "description": "Determines whether the Shielded VM's SecureBoot feature should be\nenabled for the nodes of the machine pool. If SecureBoot is not\nspecified, the value of this attribute will remain unspecified and the\nSecureBoot's value specified in the `.gcp.security.secure_boot`\nattribute of the parent Cluster will be the one applied to the nodes of\nthe machine pool.\nImmutable.",
            "type": "boolean"
          }
        }
      },
      "GCPNetwork": {
        "description": "GCP Network configuration of a cluster.",
        "properties": {
          "vpc_name": {
            "description": "VPC mame used by the cluster.",
            "type": "string"
          },
          "vpc_project_id": {
            "description": "The name of the host project where the shared VPC exists.",
            "type": "string"
          },
          "compute_subnet": {
            "description": "Compute subnet used by the cluster.",
            "type": "string"
          },
          "control_plane_subnet": {
            "description": "Control plane subnet used by the cluster.",
            "type": "string"
          }
        }
      },
      "GCPVolume": {
        "description": "Holds settings for an GCP storage volume.",
        "properties": {
          "size": {
            "description": "Volume size in Gib.",
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "HTPasswdIdentityProvider": {
        "description": "Details for `htpasswd` identity providers.",
        "properties": {
          "password": {
            "description": "Password to be used in the _HTPasswd_ data file.",
            "type": "string"
          },
          "username": {
            "description": "Username to be used in the _HTPasswd_ data file.",
            "type": "string"
          },
          "users": {
            "description": "Link to the collection of _HTPasswd_ users.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HTPasswdUser"
            }
          }
        }
      },
      "HTPasswdUser": {
        "properties": {
          "id": {
            "description": "ID for a secondary user in the _HTPasswd_ data file.",
            "type": "string"
          },
          "hashed_password": {
            "description": "HTPasswd Hashed Password for a user in the _HTPasswd_ data file.\nThe value of this field is set as-is in the _HTPasswd_ data file for the HTPasswd IDP",
            "type": "string"
          },
          "password": {
            "description": "Password in plain-text for a  user in the _HTPasswd_ data file.\nThe value of this field is hashed before setting it in the  _HTPasswd_ data file for the HTPasswd IDP",
            "type": "string"
          },
          "username": {
            "description": "Username for a secondary user in the _HTPasswd_ data file.",
            "type": "string"
          }
        }
      },
      "K8sServiceAccountOperatorIdentityRequirement": {
        "properties": {
          "name": {
            "description": "The name of the service account to be leveraged by the operator",
            "type": "string"
          },
          "namespace": {
            "description": "The namespace of the service account to be leveraged by the operator",
            "type": "string"
          }
        }
      },
      "LDAPAttributes": {
        "description": "LDAP attributes used to configure the LDAP identity provider.",
        "properties": {
          "id": {
            "description": "List of attributes to use as the identity.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "email": {
            "description": "List of attributes to use as the mail address.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "name": {
            "description": "List of attributes to use as the display name.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "preferred_username": {
            "description": "List of attributes to use as the preferred user name when provisioning a user.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "LDAPIdentityProvider": {
        "description": "Details for `ldap` identity providers.",
        "properties": {
          "ca": {
            "description": "Certificate bundle to use to validate server certificates for the configured URL.",
            "type": "string"
          },
          "url": {
            "description": "An https://tools.ietf.org/html/rfc2255[RFC 2255] URL which specifies the LDAP host and\nsearch parameters to use.",
            "type": "string"
          },
          "attributes": {
            "description": "LDAP attributes used to configure the provider.",
            "$ref": "#/components/schemas/LDAPAttributes"
          },
          "bind_dn": {
            "description": "Optional distinguished name to use to bind during the search phase.",
            "type": "string"
          },
          "bind_password": {
            "description": "Optional password to use to bind during the search phase.",
            "type": "string"
          },
          "insecure": {
            "description": "When `true` no TLS connection is made to the server. When `false` `ldaps://...` URLs\nconnect using TLS and `ldap://...` are upgraded to TLS.",
            "type": "boolean"
          }
        }
      },
      "STS": {
        "description": "Contains the necessary attributes to support role-based authentication on AWS.",
        "properties": {
          "oidc_endpoint_url": {
            "description": "URL of the location where OIDC configuration and keys are available",
            "type": "string"
          },
          "auto_mode": {
            "description": "Auto creation mode for cluster - OCM will create the operator roles and OIDC provider. false by default.",
            "type": "boolean"
          },
          "enabled": {
            "description": "If STS is enabled or disabled",
            "type": "boolean"
          },
          "external_id": {
            "description": "Optional unique identifier when assuming role in another account",
            "type": "string"
          },
          "instance_iam_roles": {
            "description": "Instance IAM roles to use for the instance profiles of the master and worker instances",
            "$ref": "#/components/schemas/InstanceIAMRoles"
          },
          "managed_policies": {
            "description": "If true, cluster account and operator roles have managed policies attached.",
            "type": "boolean"
          },
          "oidc_config": {
            "description": "Registered Oidc Config, if available holds information related to the oidc config.",
            "$ref": "#/components/schemas/OidcConfig"
          },
          "operator_iam_roles": {
            "description": "List of roles necessary to access the AWS resources of the various operators used during installation",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperatorIAMRole"
            }
          },
          "operator_role_prefix": {
            "description": "Optional user provided prefix for operator roles.",
            "type": "string"
          },
          "permission_boundary": {
            "description": "Optional user provided permission boundary.",
            "type": "string"
          },
          "role_arn": {
            "description": "ARN of the AWS role to assume when installing the cluster",
            "type": "string"
          },
          "support_role_arn": {
            "description": "ARN of the AWS role used by SREs to access the cluster AWS account in order to provide support",
            "type": "string"
          }
        }
      },
      "STSCredentialRequest": {
        "description": "Representation of an credRequest",
        "properties": {
          "name": {
            "description": "Name of CredRequest",
            "type": "string"
          },
          "operator": {
            "description": "Operator Details",
            "$ref": "#/components/schemas/STSOperator"
          }
        }
      },
      "STSOperator": {
        "description": "Representation of an sts operator",
        "properties": {
          "max_version": {
            "description": "Maximum ocp version supported",
            "type": "string"
          },
          "min_version": {
            "description": "Minimum ocp version supported",
            "type": "string"
          },
          "name": {
            "description": "Operator Name",
            "type": "string"
          },
          "namespace": {
            "description": "Operator Namespace",
            "type": "string"
          },
          "service_accounts": {
            "description": "Service Accounts",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AddOn": {
        "description": "Representation of an add-on that can be installed in a cluster.",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'AddOn' if this is a complete object or 'AddOnLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "common_annotations": {
            "description": "Common annotations to be applied to all resources created by this addon.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "common_labels": {
            "description": "Common labels to be applied to all resources created by this addon.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "config": {
            "description": "Additional configs to be used by the addon once its installed in the cluster.",
            "$ref": "#/components/schemas/AddOnConfig"
          },
          "credentials_requests": {
            "description": "List of credentials requests to authenticate operators to access cloud resources.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CredentialRequest"
            }
          },
          "description": {
            "description": "Description of the add-on.",
            "type": "string"
          },
          "docs_link": {
            "description": "Link to documentation about the add-on.",
            "type": "string"
          },
          "enabled": {
            "description": "Indicates if this add-on can be added to clusters.",
            "type": "boolean"
          },
          "has_external_resources": {
            "description": "Indicates if this add-on has external resources associated with it",
            "type": "boolean"
          },
          "hidden": {
            "description": "Indicates if this add-on is hidden.",
            "type": "boolean"
          },
          "icon": {
            "description": "Base64-encoded icon representing an add-on. The icon should be in PNG format.",
            "type": "string"
          },
          "install_mode": {
            "description": "The mode in which the addon is deployed.",
            "$ref": "#/components/schemas/AddOnInstallMode"
          },
          "label": {
            "description": "Label used to attach to a cluster deployment when add-on is installed.",
            "type": "string"
          },
          "managed_service": {
            "description": "Indicates if add-on is part of a managed service",
            "type": "boolean"
          },
          "name": {
            "description": "Name of the add-on.",
            "type": "string"
          },
          "namespaces": {
            "description": "Namespaces which are required by this addon.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddOnNamespace"
            }
          },
          "operator_name": {
            "description": "The name of the operator installed by this add-on.",
            "type": "string"
          },
          "parameters": {
            "description": "List of parameters for this add-on.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddOnParameter"
            }
          },
          "requirements": {
            "description": "List of requirements for this add-on.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddOnRequirement"
            }
          },
          "resource_cost": {
            "description": "Used to determine how many units of quota an add-on consumes per resource name.",
            "type": "number",
            "format": "float"
          },
          "resource_name": {
            "description": "Used to determine from where to reserve quota for this add-on.",
            "type": "string"
          },
          "sub_operators": {
            "description": "List of sub operators for this add-on.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddOnSubOperator"
            }
          },
          "target_namespace": {
            "description": "The namespace in which the addon CRD exists.",
            "type": "string"
          },
          "version": {
            "description": "Link to the current default version of this add-on.",
            "$ref": "#/components/schemas/AddOnVersion"
          }
        }
      },
      "AddOnConfig": {
        "description": "Representation of an add-on config.\nThe attributes under it are to be used by the addon once its installed in the cluster.",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'AddOnConfig' if this is a complete object or 'AddOnConfigLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "add_on_environment_variables": {
            "description": "List of environment variables for the addon",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddOnEnvironmentVariable"
            }
          },
          "secret_propagations": {
            "description": "List of secret propagations for the addon",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddOnSecretPropagation"
            }
          }
        }
      },
      "AddOnEnvironmentVariable": {
        "description": "Representation of an add-on env object.",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'AddOnEnvironmentVariable' if this is a complete object or 'AddOnEnvironmentVariableLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "name": {
            "description": "Name of the env object.",
            "type": "string"
          },
          "value": {
            "description": "Value of the env object.",
            "type": "string"
          }
        }
      },
      "AddOnInstallMode": {
        "description": "Representation of an add-on InstallMode field.",
        "type": "string",
        "enum": [
          "all_namespaces",
          "own_namespace"
        ]
      },
      "AddOnInstallation": {
        "description": "Representation of an add-on installation in a cluster.",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'AddOnInstallation' if this is a complete object or 'AddOnInstallationLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "addon": {
            "description": "Link to add-on attached to this cluster.",
            "$ref": "#/components/schemas/AddOn"
          },
          "addon_version": {
            "description": "Link to the installed version of this add-on.",
            "$ref": "#/components/schemas/AddOnVersion"
          },
          "billing": {
            "description": "Billing details for add-on installation resource ",
            "$ref": "#/components/schemas/AddOnInstallationBilling"
          },
          "creation_timestamp": {
            "description": "Date and time when the add-on was initially installed in the cluster.",
            "type": "string",
            "format": "date-time"
          },
          "operator_version": {
            "description": "Version of the operator installed by the add-on.",
            "type": "string"
          },
          "parameters": {
            "description": "List of add-on parameters for this add-on installation.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddOnInstallationParameter"
            }
          },
          "state": {
            "description": "Overall state of the add-on installation.",
            "$ref": "#/components/schemas/AddOnInstallationState"
          },
          "state_description": {
            "description": "Reason for the current State.",
            "type": "string"
          },
          "updated_timestamp": {
            "description": "Date and time when the add-on installation information was last updated.",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AddOnInstallationBilling": {
        "description": "Representation of an add-on installation billing.",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'AddOnInstallationBilling' if this is a complete object or 'AddOnInstallationBillingLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "billing_marketplace_account": {
            "description": "Account ID for billing market place",
            "type": "string"
          },
          "billing_model": {
            "description": "Billing Model for addon resources",
            "$ref": "#/components/schemas/BillingModel"
          }
        }
      },
      "AddOnInstallationParameter": {
        "description": "Representation of an add-on installation parameter.",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'AddOnInstallationParameter' if this is a complete object or 'AddOnInstallationParameterLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "value": {
            "description": "Value of the parameter.",
            "type": "string"
          }
        }
      },
      "AddOnInstallationState": {
        "description": "Representation of an add-on installation State field.",
        "type": "string",
        "enum": [
          "deleting",
          "failed",
          "installing",
          "pending",
          "ready"
        ]
      },
      "AddOnNamespace": {
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'AddOnNamespace' if this is a complete object or 'AddOnNamespaceLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "annotations": {
            "description": "Annotations to be applied to this namespace.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "labels": {
            "description": "Labels to be applied to this namespace.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "name": {
            "description": "Name of the namespace.",
            "type": "string"
          }
        }
      },
      "AddOnParameter": {
        "description": "Representation of an add-on parameter.",
        "properties": {
          "kind": {
            "description": "Indicates the type of this object. Will be 'AddOnParameter' if this is a complete object or 'AddOnParameterLink' if it is just a link.",
            "type": "string"
          },
          "id": {
            "description": "Unique identifier of the object.",
            "type": "string"
          },
          "href": {
            "description": "Self link.",
            "type": "string"
          },
          "addon": {
            "description": "Link to add-on.",
            "$ref": "#/components/schemas/AddOn"
          },
          "conditions": {
            "description": "Conditions in which this parameter is valid for",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddOnRequirement"
            }
          },
          "default_value": {
            "description": "Indicates the value default for the add-on parameter.",
            "type": "string"
          },
          "description": {
            "description": "Description of the add-on parameter.",
            "type": "string"
          },
          "editable": {
            "description": "Indicates if this parameter can be edited after creation.",
            "type": "boolean"
          },
          "editable_direction": {
            "description": "Restricts if the parameter can be upscaled/downscaled\nExpected values are \"up\", \"down\", or \"\" (no restriction).",
            "type": "string"
          },
          "enabled": {
            "description": "Indicates if this parameter is enabled for the add-on.",
            "type": "boolean"
          },
          "name": {
            "description": "Name of the add-on parameter.",
            "type": "string"
          },
          "options": {
            "description": "List of options for the add-on parameter value.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddOnParameterOption"
            }
          },
          "required": {
            "description": "Indicates if this parameter is required by the add-on.",
            "type": "boolean"
          },
          "validation": {
            "description": "Validation rule for the add-on parameter.",
            "type": "string"
          },
          "validation_err_msg": {
            "description": "Error message to return should the parameter be invalid.",
            "type": "string"
          },
          "value_type": {
            "description": "Type of value of the add-on parameter.",
            "type": "string"
          }
        }
      },
      "AddOnParameterOption": {
        "description": "Representation of an add-on parameter option.",
        "properties": {
          "name": {
            "description": "Name of the add-on parameter option.",
            "type": "string"
          },
          "rank": {
            "description": "Rank of option to be used in cases where editable direction should be restricted.",
            "type": "integer",
            "format": "int32"
          },
          "requirements": {
            "description": "List of add-on requirements for this parameter option.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddOnRequirement"
            }
          },
          "value": {
            "description": "Value of the add-on parameter option.",
            "type": "string"
          }
        }
      },
      "AddOnRequirement": {
        "description": "Representation of an add-on requirement.",
        "properties": {
          "id": {
            "description": "ID of the add-on requirement.",
            "type": "string"
          },
          "data": {
            "description": "Data for the add-on requirement.",
            "type": "object",
            "additionalProperties": {
              "type": "object"
            }
          },
          "enabled": {
            "description": "Indicates if this requirement is enabled for the add-on.",
            "type": "boolean"
          },
          "resource": {
            "description": "Type of resource of the add-on requirement.",
            "type": "string"
          },
          "status": {
            "description": "Optional cluster specific status for the add-on.",
            "$ref": "#/components/schemas/AddOnRequirementStatus"
          }
        }
      },
      "AddOnRequirementStatus": {
        "description": "Representation of an add-on requirement status.",
        "properties": {
          "error_msgs": {
            "description": "Error messages detailing reasons for unfulfilled requirements.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fulfilled": {
            "description": "Indicates if this requirement is fulfilled.",
            "type": "boolean"
          }
        }
      },
      "AddOnSecretPropagation": {
        "description": "Representation of an addon secret propagation",
        "properties": {
          "id": {
            "description": "ID of the secret propagation",
            "type": "string"
          },
          "destination_secret": {
            "description": "DestinationSecret is location of the secret to be added",
            "type": "string"
          },
          "enabled": {
            "description": "Indicates is this secret propagation is enabled for the addon",
            "type": "boolean"
          },
          "source_secret": {
[...]
